# Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [27]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(434) 434-3434')
]


def get_phone_number(name):
    for contact in address_book:
        if contact[0] == name or contact[1] == name:
            return contact[3]
    return -1
        
        
get_phone_number('Hank')

'(555) 555-1234'

In [28]:
get_phone_number('Tevin')

'(333) 333-3245'

In [29]:
get_phone_number('Brian')

-1

In [30]:
get_phone_number('Fife')

'(222) 222-6789'

In [31]:
get_phone_number('Robby')

'(434) 434-3434'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are "ordered" as of Python 3.6</p>

##### Declaring (key, value)

In [34]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d1 = {} # Empty Dictionary
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Blvd'
}
print(d3)
print(type(d3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

In [38]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

##### Accessing Values

In [39]:
# dict[key]
print(d3['Hank'])

123 Real Street

In [40]:
print(d3['Tevin'])

100 Rodeo Blvd

In [41]:
print(d3['Brian']) # KeyError: 'Brian'

KeyError: 'Brian'

##### .get()

In [43]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [46]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [ ]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

##### Adding New Pairs

In [49]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd'}

In [50]:
# dict[key] = value

d3['Zooey'] = '151 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '151 Main Street'}

##### Modifying Values

In [55]:
# dict[key] = value

d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [56]:
# del dict[key]
# .pop()

del d3['Tevin']

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

In [57]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [58]:
removed_value = d3.pop('Zooey')

print(removed_value)

d3

321 Fake Street

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [59]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [68]:
# .items()
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

print(d3.items())
    
for item in d3.items():
    print(item, type(item))

1
2
3
dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])
('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>

In [69]:
d3['Zooey'] = '321 Fake Street'

In [70]:
for key, value in d3.items():
    print(f"Key: {key} -- Value: {value}")

Key: Hank -- Value: 123 Real Street
Key: Peter -- Value: 321 Fake Street
Key: Sydney -- Value: 555 Santa Monica Blvd
Key: Zooey -- Value: 321 Fake Street

In [71]:
d4 = {'a': 123, 'b': 456, 'c': 789}

print(d4)
# {'c': 789, 'a': 123, 'b': 456}

{'a': 123, 'b': 456, 'c': 789}

##### Looping Only Keys

In [74]:
# .keys()
for i in d3:
    print(i)

print('='*20)

print(d3.keys())

print('='*20)

for i in d3.keys():
    print(i)

Hank
Peter
Sydney
Zooey
====================
dict_keys(['Hank', 'Peter', 'Sydney', 'Zooey'])
====================
Hank
Peter
Sydney
Zooey

In [76]:
for key in d3.keys():
    print(key, d3[key])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd
Zooey 321 Fake Street

##### Looping Only Values

In [78]:
# .values()
print(d3.values())

for val in d3.values():
    print(val)

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd', '321 Fake Street'])
123 Real Street
321 Fake Street
555 Santa Monica Blvd
321 Fake Street

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [79]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

for key, val in people.items():
    print(f"{key} has {val} eyes")

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

In [81]:
for key in people.keys():
    print(f"{key} has {people.get(key)} eyes")

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### sorted()

In [84]:
for x in d3:
    print(x)

Hank
Peter
Sydney
Zooey

In [83]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()

sorted(d3)

['Hank', 'Peter', 'Sydney', 'Zooey']

##### List with Dictionaries

In [94]:
some_list = [1, '2', [1, 2, 3], {'a': 'hello', 'b': 'goodbye'}]

print(some_list)
print(some_list[3], type(some_list[3]))
print(some_list[3]['a'])
print(some_list[3].get('b'))

[1, '2', [1, 2, 3], {'a': 'hello', 'b': 'goodbye'}]
{'a': 'hello', 'b': 'goodbye'} <class 'dict'>
hello
goodbye

##### List of Dictionaries

In [98]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2007},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1977},
    {'release_year': 2019, 'director': 'Bong Joon Ho', 'title': 'Parasite'}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2007}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1977}, {'release_year': 2019, 'director': 'Bong Joon Ho', 'title': 'Parasite'}]

In [99]:
for m in movies:
    print(f"Title: {m.get('title')} - Directed By: {m.get('director')} - {m.get('release_year')}")

Title: Inception - Directed By: Christopher Nolan - 2007
Title: The Social Network - Directed By: David Fincher - 2010
Title: The Departed - Directed By: Martin Scorsese - 2006
Title: Star Wars - Directed By: George Lucas - 1977
Title: Parasite - Directed By: Bong Joon Ho - 2019

##### Dictionaries with Lists

In [105]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes

random_data = {
    'list1': [23, 324, 43, 234],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # this is not index-0 - this is accessing the key 0
print(random_data['list1'], type(random_data['list1']))
print(random_data['list1'][3])

{'list1': [23, 324, 43, 234], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[23, 324, 43, 234] <class 'list'>
234

##### Dictionaries with Dictionaries

In [111]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['oreo'])
print(my_shoppe.get('ice_cream').get('chocolate'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
3.49
2.99

In [112]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [119]:
# How many years did Jimmy Smith work at AlphaInc?

print(f"Jimmy Smith worked {len(job_app['experience'][1]['years_at_company'])} years at Alpha Inc.")

Jimmy Smith worked 2 years at Alpha Inc.

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [120]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [134]:
time.time()

1664476546.5771894

In [146]:
# tracking time for dict
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.31647205352783203

In [147]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [148]:
hash('abc')

-6400653531022124738

In [150]:
hash('abd')

3685254136700255266

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [151]:
# set() or {val,...}

first_set = set()

print(first_set)
print(type(first_set))

set()
<class 'set'>

In [157]:
empty_set = {1}
print(empty_set)
print(type(empty_set))

{1}
<class 'set'>

In [187]:
nums = {4, 1, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4}
print(nums)

{1, 4, 6}

In [158]:
# Unordered 
nums2 = {3, 2, 1}
print(nums2)

{1, 2, 3}

##### .add()

In [185]:
# set.add(val) -> add the value to the set

nums.add(56)
print(nums)

{56, 1, 4, 6}

##### .remove()

In [186]:
# set.remove(val_to_remove)

nums.remove(4)

print(nums)

{56, 1, 6}

##### .union()

In [188]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [192]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s2.union(s1)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [193]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [196]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s2.intersection(s1)
print(s5)

# OR
s6 = s1 & s2
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [197]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [201]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

##### .clear()

In [202]:
# Empties the whole set
# set.clear()
nums = {12, 34, 56, 78, 90}

print(nums)

nums.clear()

print(nums)

{34, 12, 78, 56, 90}
set()

In [205]:
list_set = set([1, 2, 3, 3, 2, 5, 4, 7, 1, 2])
print(list_set)
string_set = set('hello world')
print(string_set)

{1, 2, 3, 4, 5, 7}
{'o', 'w', 'r', ' ', 'd', 'h', 'l', 'e'}

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [211]:
# frozenset(iterable)

my_frozenset = frozenset({1, 2, 3, 4, 5})

print(my_frozenset)
print(type(my_frozenset))

my_frozenset.add(45)

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [216]:
tuple_key_dict = {
    frozenset({'a', 'b'}): 'the value for the tuple a,b',
    'test': 'value for test'
}

print(tuple_key_dict.get(frozenset({'a', 'b'})))

the value for the tuple a,b

In [217]:
set_comp = {x for x in range(10)}
print(set_comp)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [218]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [230]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0009975433349609375
True
Elapsed time for list: 0.33144116401672363

In [232]:
def count_vowels(sentence):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    count = 0
    for letter in sentence:
        if letter in vowels:
            count += 1
    return count


count_vowels('The quick brown fox jumped over the lazy dog')

12

# Exercises

In [234]:
from IPython.display import clear_output

# Step 1
def address_book(my_book={}): # Step 2
    
    while True: # Step 3
        
        # Step 4
        name = input('What is the name you would like to add to your address book? ').title()
        address = input(f"What is {name}'s address? ")
        
        # Step 5
        my_book[name] = address
        clear_output()
        ask = input('Would you like to continue? y/n ').lower()
        
        while ask not in {'y', 'n'}:
            clear_output()
            ask = input('That is not a valid response. Please type y or n ')
            
        # Step 6
        if ask == 'n':
            clear_output()
            break
    
    # Step 7
    for name, address in my_book.items():
        print(f"{name} lives at {address}")
        
    return my_book
        
# Step 8
my_address_book = address_book()

Brian lives at 123 Real Street
A lives at 2

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the values into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [239]:
from IPython.display import clear_output


while True:
    ask = input('Would you like to quit? y/n ')
    if ask == 'y':
        break
    clear_output()

Would you like to quit? y/n y

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'